.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid #80808058;
}

.left--container {
	display: flex;
	align-items: center;
	width: 40%;
	gap: 10px;
}

.right--container {
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: end;
	gap: 10px;
}

.logo-image {
	width: 200px;
	cursor: pointer;
}

.profile-image {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 60px;
}

.nav-item {
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

.profile-menu-container {
	position: absolute;
	margin-top: 10px; /* Adjust the margin to control the distance between elements */
	background-color: #eeeeee;
	padding: 10px;
	border-radius: 8px;
	top: 12%; /* Position the menu below the parent element */
	right: 2%;
	z-index: 100;
}
